@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");

body {
    margin: 0px;

   float:left; 
    width:100%; 
}

body div{ 
    float:left;
}

canvas {
  width: 73vw;
  height: 100vh;
  display: inline-block;
  
}


.cp{
	margin-top: 70px;
	padding:15px;
	vertical-align: top;
	text-align: center;
	clear: left;
	width: 25vw;
	/*border: 1px solid black;*/
	display: inline-block;
}
.header{
	display: inline-block;
	font-size:23px;
	text-align:center;
	margin-bottom: 20px;
	width: 100%;

}





input{
	width: 77% !important;
}

label{
	width: 20%;
}
#start-btn{
	margin-top: 15px;
}
/*div.inline { float/*:left; }*/
/*.clearBoth { clear:both; }*/


.starter{
	width: inherit;
	padding: inherit;
	margin-bottom: -30px;
}

.hide{
	display: none;
	width: 100px;
}

.show{
	display:block;
}
#names{
	color: yellow;
	width: 100%;
	float: none;
}

#names p{
font-size: 17px;
margin-bottom: -20px;
} 

h4{
	
	margin-bottom: -20px;
}
/* Contoller Table */
.board-btn {
  display:block;
  height: 40px;
  width: 40px;
  border-radius: 20%;
  border: 1px solid yellow; 
}

#controller {
	padding-left: 80px;
	margin-top: 20px;
	text-align: center;
}

td{
	border:0;
	width: 30px !important !important;
	margin:0;
}

table{
	
	display: block;
	border:0;
}

p{
	font-size: 20px;
}
}